.main-h1-1 {
  color: #171f46;
  font-size: large;
  font-weight: bold;

  display: flex;
  flex-direction: column;
}

.main-h1-2 {
  color: #2b237c;
  font-size: x-large;
  font-family: 'Roboto';
  padding-top: 20px;
}

.chrono-container {
  text-align: center;
  height: 80vh;
}
